<!DOCTYPE html>
<html lang="en" ng-app="RequestBuilder">
<head>
	<meta charset="UTF-8">
	<title>Request Builder</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" type="text/css">
	<link rel="stylesheet" href="style.css">

</head>
<body ng-controller="MainCtrl">
	<h1>Request Builder</h1>

	<div id="request-options">
		<input type="text" placeholder="http://path-to-request" ng-model="data.url">
		<br />
		<div class="request-type">
			<input type="radio" ng-model="data.method" id="request-type-get" name="request-type" value="GET" /><label for="request-type-get">GET</label>
			<input type="radio" ng-model="data.method" id="request-type-post" name="request-type" value="POST" /><label for="request-type-post">POST</label>
			<input type="radio" ng-model="data.method" id="request-type-put" name="request-type" value="PUT" /><label for="request-type-put">PUT</label>
			<input type="radio" ng-model="data.method" id="request-type-delete" name="request-type" value="DELETE" /><label for="request-type-delete">DELETE</label>
			<input type="radio" ng-model="data.method" id="request-type-head" name="request-type" value="HEAD" /><label for="request-type-head">HEAD</label>
			<input type="radio" ng-model="data.method" id="request-type-patch" name="request-type" value="PATCH" /><label for="request-type-patch">PATCH</label>
		</div>
		<div class="request-type">
			<input type="radio" ng-model="data.form" id="request-form-payload" name="request-form" value="PAYLOAD" /><label for="request-type-get">PAYLOAD</label>
			<input type="radio" ng-model="data.form" id="request-form-form" name="request-form" value="FORM ENCODE" /><label for="request-type-post">FORM ENCODE</label>
		</div>
		<br/>
		<div class="half1">
			<div class="title">HEADER FIELDS</div><input type="number" step="1" min="1" max="99" ng-model="data.headerFields" ng-change="updateFields('header')"/><br />
			<div ng-repeat="h in data.header" class="data-row">
				<input type="text" class="half" ng-model="h.key" placeholder="Header Key" />
				<input type="text" class="half" ng-model="h.value" placeholder="Header Value" />
			</div>
		</div>
		<div class="half2">
			<div class="title">DATA FIELDS</div><input type="number" step="1" min="1" max="99" ng-model="data.dataFields" ng-change="updateFields('data')"/><br />
			<div ng-repeat="d in data.data" class="data-row">
				<input type="text" class="half" ng-model="d.key" placeholder="Data Key" />
				<input type="text" class="half" ng-model="d.value" placeholder="Data Value" />
			</div>
		</div>
		<br />
		<button ng-click="send()">SEND</button>
		<br />
		<br />

		<div id="request-built">
			{{data.method}} {{data.url}} HTTP/1.1<br/><br/>
			host: {{data.host}}<br/>
		</div>
	</div>

	<div id="request-result">
		Status:<br />
		<pre class="pre">{{resp.status}}</pre><br/><br/>
		Headers: <br/>
		<pre class="pre">{{ResponseHeaders()}}</pre><br/><br/>
		Data:
		<div id="request-result-data-type">
			<input type="radio" ng-model="data.renderType" id="response-type-raw" name="response-type" value="RAW" /><label for="response-type-raw">RAW</label>
			<input type="radio" ng-model="data.renderType" id="response-type-html" name="response-type" value="HTML" /><label for="response-type-html">HTML</label>
		</div><br/>
		<pre class="pre data" ng-show="data.renderType == 'RAW'">{{resp.data}}</pre>
		<div class="pre data" ng-show="data.renderType == 'HTML'" ng-bind-html="resp.data | html"></div><br/><br/>
	</div>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>